In [32]:
import pandas as pd
import numpy as np

In [33]:
!ls

cached			netflix_titles.csv  RickAndMortyScripts.csv
example_huggingface.py	notes_praw.txt	    runs
gpt_machinecurve.py	odd.csv		    scrape_200.csv
GPTRick.ipynb		output.csv	    scrape.csv
irbot.ipynb		praw.ini	    scrape_hot_200.csv
irbot_test.py		README.md	    scrape_hot_200_tldrfix.csv
LICENSE			reddit.ipynb	    sigtbd-irbot.pdf
main.ipynb		reddit.py	    tmp.csv
main.py			results

In [59]:
df = pd.read_csv('./scrape_hot_200_tldrfix.csv')
df['0'].replace('', np.nan, inplace=True)

df.dropna(inplace=True)
df.columns
df.drop(labels='Unnamed: 0', axis=1)

                                                      0
0     \tmy girlfriend has previously hooked up with ...
1     She's openly flirting with women and getting t...
2     Also she might not be on the same page as you ...
3       \t Bisexual gf was hooking up with her roommate
4     There’s no difference in what is to be expecte...
...                                                 ...
1170  \tMade plans to marry my boyfriend but now I w...
1171                  You are young and want to explore
1172  I agree with you but what can happen is that O...
1173  \t Planned to marry my  boyfriend  but now I w...
1174  Is it a possibility to explore the world with ...

[878 rows x 1 columns]

In [116]:
my_list = []
for i, row in enumerate(df['0'].to_list()):
    my_list.append(row.strip())
    if (i-1)%3 == 0:
        my_list.append(row.strip()) # append twice

df2 = pd.DataFrame(my_list)
df2 = df2.iloc[:-1] # remove last row

In [120]:
df2.iloc[1:-2:2]

                                                      0
1     She's openly flirting with women and getting t...
3     Also she might not be on the same page as you ...
5     There’s no difference in what is to be expecte...
7     I'm sorry but if her roommate was a male this ...
9                                                    No
...                                                 ...
1159                                   Thats where I am
1161  You should probably have asked for payment fir...
1163                     If I could turn back time, lol
1165                  You are young and want to explore
1167  I agree with you but what can happen is that O...

[584 rows x 1 columns]

In [132]:
type(final_df.context)
type(df2[0].iloc[1:-2:2])

pandas.core.series.Series

In [134]:
final_df = pd.DataFrame(columns=['response', 'context'])
final_df.context = df2[0].iloc[:-2:2].values
final_df.response = df2[0].iloc[1:-2:2].values # values, NOT set irectly on series (fails with NaN on second columns)
display(final_df)

,response,context
0,She's openly flirting with women and getting t...,my girlfriend has previously hooked up with he...
1,Also she might not be on the same page as you ...,She's openly flirting with women and getting t...
2,There’s no difference in what is to be expecte...,Bisexual gf was hooking up with her roommate
3,I'm sorry but if her roommate was a male this ...,There’s no difference in what is to be expecte...
4,No,"; now that I have money, my father is demandin..."
...,...,...
579,Thats where I am,"From the other perspective, if someone offered..."
580,You should probably have asked for payment fir...,How to ask for payment for puppysitting
581,"If I could turn back time, lol",You should probably have asked for payment fir...
582,You are young and want to explore,Made plans to marry my boyfriend but now I wan...
583,I agree with you but what can happen is that O...,You are young and want to explore

In [135]:
df2.to_csv('./csv/duplicate_row2.csv')

In [136]:
final_df.to_csv('./csv/response_context.csv')