In [32]:
import pandas as pd
import numpy as np

In [147]:
!ls

cached			irbot.ipynb    notes_praw.txt  results
csv			irbot_test.py  praw.ini        runs
example_huggingface.py	LICENSE        README.md       sigtbd-irbot.pdf
gpt_machinecurve.py	main.ipynb     reddit.ipynb
GPTRick.ipynb		main.py        reddit.py

In [188]:
df = pd.read_csv('./csv/scrape_hot_200_tldrfix.csv')

df.columns
df.drop(labels='Unnamed: 0', axis=1)

                                                      0
0     \t– Busy husband only ever wants to have sex d...
1     >What do I do?\n\nWhat do you want him to do? ...
2                     I like this comment, it is direct
3          \t My  husband  only ever wants to have sex…
4              I'm a guy and had a girlfriend like this
...                                                 ...
1171  Sorry but a break at 30 years old is just Brea...
1172  Yeah I agree, I even said this is mostly likel...
1173  \t Me  and my fiance  have just gone a 2 month...
1174  going onto or off the Pill is 100% a well know...
1175  Yeah I accept that but I forgot to say she's b...

[1176 rows x 1 columns]

In [189]:

my_list = []
for i, row in enumerate(df['0'].to_list()):
        if type(row) == str:
            text_row = row.strip()
        else:
            text_row = row
        my_list.append(text_row)
        if (i-1)%3 == 0:
            my_list.append(text_row) # append twice

df2 = pd.DataFrame(my_list)
#df2 = df2.iloc[:-1] # remove last row

In [190]:
lens = [len(a) for a in df2[0] if a is not np.nan] 
lens.sort()
lens[-1]

879

In [191]:
df2.iloc[1:-2:2]

                                                      0
1     >What do I do?\n\nWhat do you want him to do? ...
3                     I like this comment, it is direct
5              I'm a guy and had a girlfriend like this
7                                                   NaN
9     She's openly flirting with women and getting t...
...                                                 ...
1557                                                NaN
1559                                                NaN
1561  Sorry but a break at 30 years old is just Brea...
1563  Yeah I agree, I even said this is mostly likel...
1565  going onto or off the Pill is 100% a well know...

[783 rows x 1 columns]

In [192]:
type(final_df.context)
type(df2[0].iloc[1:-2:2])

pandas.core.series.Series

In [193]:
final_df = pd.DataFrame(columns=['response', 'context'])
final_df.context = df2[0].iloc[:-2:2].values
final_df.response = df2[0].iloc[1:-2:2].values # values, NOT set irectly on series (fails with NaN on second columns)
display(final_df)

,response,context
0,>What do I do?\n\nWhat do you want him to do? ...,– Busy husband only ever wants to have sex dur...
1,"I like this comment, it is direct",>What do I do?\n\nWhat do you want him to do? ...
2,I'm a guy and had a girlfriend like this,My husband only ever wants to have sex…
3,NaN,I'm a guy and had a girlfriend like this
4,She's openly flirting with women and getting t...,my girlfriend has previously hooked up with he...
...,...,...
778,NaN,"Feel like my LDR is fizzling out, please help."
779,NaN,NaN
780,Sorry but a break at 30 years old is just Brea...,me and fiance started a break and she instantl...
781,"Yeah I agree, I even said this is mostly likel...",Sorry but a break at 30 years old is just Brea...
782,going onto or off the Pill is 100% a well know...,Me and my fiance have just gone a 2 month br...

In [194]:

final_df['response'].replace('', np.nan, inplace=True)
final_df['context'].replace('', np.nan, inplace=True)
final_df.dropna(inplace=True)

In [195]:
final_df.iloc[97].response

'It sounds like both of you are addressing this in a mature manner that will only help both of you in the long run'

In [196]:
df2.to_csv('./csv/duplicate_row2.csv')

In [197]:
final_df.to_csv('./csv/response_context.csv')