In [32]:
import pandas as pd
import numpy as np

In [147]:
!ls

cached			irbot.ipynb    notes_praw.txt  results
csv			irbot_test.py  praw.ini        runs
example_huggingface.py	LICENSE        README.md       sigtbd-irbot.pdf
gpt_machinecurve.py	main.ipynb     reddit.ipynb
GPTRick.ipynb		main.py        reddit.py

In [161]:
df = pd.read_csv('./csv/scrape_hot_200_tldrfix.csv')

df.columns
df.drop(labels='Unnamed: 0', axis=1)

                                                      0
0     \tmy girlfriend has previously hooked up with ...
1     She's openly flirting with women and getting t...
2     Also she might not be on the same page as you ...
3       \t Bisexual gf was hooking up with her roommate
4     There’s no difference in what is to be expecte...
...                                                 ...
1171                  You are young and want to explore
1172  I agree with you but what can happen is that O...
1173  \t Planned to marry my  boyfriend  but now I w...
1174  Is it a possibility to explore the world with ...
1175                                                NaN

[1176 rows x 1 columns]

In [167]:

my_list = []
for i, row in enumerate(df['0'].to_list()):
        if type(row) == str:
            text_row = row.strip()
        else:
            text_row = row
        my_list.append(text_row)
        if (i-1)%3 == 0:
            my_list.append(text_row) # append twice

df2 = pd.DataFrame(my_list)
#df2 = df2.iloc[:-1] # remove last row

In [168]:
df2.iloc[1:-2:2]

                                                      0
1     She's openly flirting with women and getting t...
3     Also she might not be on the same page as you ...
5     There’s no difference in what is to be expecte...
7     I'm sorry but if her roommate was a male this ...
9                                                    No
...                                                 ...
1557  You should probably have asked for payment fir...
1559                     If I could turn back time, lol
1561                  You are young and want to explore
1563  I agree with you but what can happen is that O...
1565  Is it a possibility to explore the world with ...

[783 rows x 1 columns]

In [169]:
type(final_df.context)
type(df2[0].iloc[1:-2:2])

pandas.core.series.Series

In [170]:
final_df = pd.DataFrame(columns=['response', 'context'])
final_df.context = df2[0].iloc[:-2:2].values
final_df.response = df2[0].iloc[1:-2:2].values # values, NOT set irectly on series (fails with NaN on second columns)
display(final_df)

,response,context
0,She's openly flirting with women and getting t...,my girlfriend has previously hooked up with he...
1,Also she might not be on the same page as you ...,She's openly flirting with women and getting t...
2,There’s no difference in what is to be expecte...,Bisexual gf was hooking up with her roommate
3,I'm sorry but if her roommate was a male this ...,There’s no difference in what is to be expecte...
4,No,"; now that I have money, my father is demandin..."
...,...,...
778,You should probably have asked for payment fir...,How to ask for payment for puppysitting
779,"If I could turn back time, lol",You should probably have asked for payment fir...
780,You are young and want to explore,Made plans to marry my boyfriend but now I wan...
781,I agree with you but what can happen is that O...,You are young and want to explore
782,Is it a possibility to explore the world with ...,Planned to marry my boyfriend but now I want...

In [181]:

final_df['response'].replace('', np.nan, inplace=True)
final_df['context'].replace('', np.nan, inplace=True)
final_df.dropna(inplace=True)

In [182]:
final_df.iloc[97].response

'Talk to him about it - tell him he set up an expectation prior to his new expectation and come to an agreement together of what you guys should do'

In [183]:
df2.to_csv('./csv/duplicate_row2.csv')

In [184]:
final_df.to_csv('./csv/response_context.csv')